/* CSS declarations go here */
body{
    background-image: url('img/background.jpg');
}

header{
    position: fixed;
    right: 17%;
    top: 0;
    width: 7%;
}
header img{
    position: relative;

    width: 100%;
}
header label{
    position: absolute;
    top: 45%;
    left: 40%;
}
#scc{
    position: fixed;
    left: 0px;
    top: 50%;
    width: 50%;
}
#scc img{
    width: 100%;
    margin-top: -20%;
}
#news{
    position: fixed;
    width: 30%;
    left: 6%;
    top: 0;
}
.icon img{
    width: 100%;
}
#programs{
    position: fixed;
    width: 45%;
    right: 0px;
    top: 50%;
}

#programs .icon{
    width: 100%;
    margin-top: -45%;
}
#residency{
    position: fixed;
    width: 30%;
    bottom: 0px;
    left: 7%;
}
#about{
    position: fixed;
    width: 20%;
    bottom: 0px;
    left: 40%;
}
#contacts{
    position: fixed;
    width: 13%;
    top: 0px;
    left: 55%;
}