/* CSS declarations go here */
body{
    background-image: url('img/background.jpg');

}

header{
    position: fixed;
    right: 17%;
    top: 0;
    width: 7%;
}
header img{
    position: relative;

    width: 100%;
}
header label{
    position: absolute;
    top: 45%;
    left: 40%;
}
#scc{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
}

#news{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
}

#programs{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
}

#residency{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
}
#about{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
}
#contacts{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
}