/* CSS declarations go here */
body{
    background-image: url('img/background.jpg');
}

header{
    position: fixed;
    right: 10%;
    top: 0;
    width: 11%;
}
header img{
    position: relative;
    top: -25px;
    width: 100%;
}
header label{
    position: relative;
    top: -95px;
    left: -90px;
}
#scc{
    position: fixed;
    left: 0px;
    top: 50%;
    width: 50%;
}
#scc img{
    width: 100%;
    margin-top: -20%;
}
